alembic==1.16.5
asyncpg==0.30.0
fastapi==0.116.1
httpx==0.28.1
pillow==11.3.0
pillow-avif-plugin==1.5.2
pillow-heif==1.1.0
pydantic-settings==2.10.1
psycopg[binary]==3.2.9
pyjwt[crypto]==2.10.1
python-multipart==0.0.20
pyyaml==6.0.2
rawpy==0.25.1
sqlalchemy==2.0.43
torch==2.7.1
torchvision==0.22.1
ultralytics==8.4.56
uvicorn[standard]==0.35.0
